= simple_form_for user, url: url, html: {class: 'form-vertical'} do |f|
  = f.input :role, type: :select, collection: User.roles_for_select
  = f.input :login
  = f.input :password, type: :text
  = f.input :first_name
  = f.input :last_name
  = f.input :avatar
  .form-actions
    = f.submit 'Готово', class: 'btn'