= simple_form_for place, url: url, html: {class: 'form-vertical'} do |f|
  = f.association :user
  = f.input :name
  = f.input :address
  = f.input :phones
  = f.input :contact_name
  .form-actions
    = f.submit 'Готово', class: 'btn'