- if current_user.admin?
  .row
    %form{action: places_path}
      .span10
        %input.span10{type: :text, name: :search, placeholder: 'Поиск', value: params[:search]}
        - if params[:state]
          %input{type: :hidden, name: :state, value: params[:state]}
      .span2
        %input.btn.span2{type: :submit, value: 'Найти'}


%table.table.table-striped
  %thead
    %tr
      %th
        = '#'
      %th
        Название
      %th
        Адрес
      - if options[:show_manager]
        %th
          Менеджер

      - if options[:hide_state_column]
        %th
          Статус
      %th
        Телефоны
      %th
        = '-'
  %tbody
    - places.each do |place|
      %tr{class: options[:table_colors] ? row_class_for(place) : ''}
        %td
          = place.id.to_s
        %td
          = place.name
        %td
          = place.address
        - if options[:show_manager]
          %td
            - if place.user
              = link_to place.user.full_name, user_path(place.user)
            - else
              = '-'
        - if options[:hide_state_column]
          %td
            = Place.states_for_select[place.state_cd].first
        %td
          = place.phones
        %td
          .btn-group
            %a.btn.dropdown-toggle{href: '#', 'data-toggle' => 'dropdown'}
              = '...'
              %span.caret
            %ul.dropdown-menu
              %li
                = link_to 'Просмотреть', place_path(place)
              - if options[:show_edit_link]
                %li
                  = link_to 'Редактировать', edit_place_path(place)
              -#%li
                = link_to 'Удалить', place_path(place), method: :delete, confirm: 'Вы уверены?'


= paginate places