%ul.breadcrumb
  %li
    = link_to 'Список заведений', places_path
    %span.divider
      = '/'
  %li.active
    = @place.name
  %li{style: 'float: right'}
    %a{href: edit_place_path(@place)}
      Редактировать

%table.table.table-striped{style: 'width: 500px; margin: 50px auto;'}
  %tr
    %td
      Менеджер
    %td
      = link_to @place.user.full_name, user_path(@place.user)
  %tr
    %td
      Статус
    %td
      .btn-group
        %a.btn.dropdown-toggle{href: '#', 'data-toggle' => 'dropdown', class: state_btn_class_for(@place)}
          = @place.state
          %span.caret
        %ul.dropdown-menu
          - Place.states_for_select.each do |state, state_name|
            %li
              = link_to state, state_place_path(@place, state: state_name), method: :put

  %tr
    %td{width: 200}
      Адрес
    %td
      = @place.address
  %tr
    %td
      Контактные телефоны
    %td
      = @place.phones
  %tr
    %td
      Имя контакта
    %td
      = @place.contact_name




.modal.hide.false#comment-modal
  .modal-header
    %button.close{type: :button, 'data-dismiss' => 'modal', tabindex: '-1', 'aria-hidden' => 'true'}
      = '&times;'.html_safe
    %h3
      Добавить комментарий
  = simple_form_for Comment.new, url: place_comments_path(@place), html: {class: 'form-vertical'} do |f|

    .modal-body
      = f.input :content, input_html: {rows: '5', style: 'width: 400px'}
    .modal-footer
      %a.btn{href: '#', 'data-dismiss' => 'modal', 'aria-hidden' => 'true'}
        Отмена
      = f.submit 'Добавить', class: ['btn', 'btn-success']

.row
  .span6.offset3
    %legend
      Комментарии
      %a.btn{href: '#comment-modal', style: 'float: right', 'data-toggle' => 'modal'}
        Добавить
    .media-list
      - @comments.each do |comment|
        .media
          %a.pull-left{href: '#'}
            %img.media-object{'data-src' => 'holder.js/64x64'}
          .media-body
            %h4.media-heading
              = comment.user.full_name
            = comment.content
            %br
            %small
              = l comment.created_at, format: :dayMonth

