!!! 5
%html
  %head
    = csrf_meta_tags
    = stylesheet_link_tag    'application', :media => 'all'
    = javascript_include_tag 'application'
  %body

    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %ul.nav
            %li
              = link_to 'Заведения', places_path
            %li
              = link_to 'Пользователи', users_path
          %ul.nav.pull-right
            %li.divider-vertical
            %li.dropdown
              %a.dropdown-toggle{href: '#', 'data-toggle' => 'dropdown'} Кирилл Агатов
              %ul.dropdown-menu
                %li
                  = link_to 'Выйти', logout_users_path, method: :delete




    .container
      .row
        .span12
          = yield
          = yield :scripts